{% extends 'job/base.html' %} <!-- привязка ранее созданного шаблона -->
{% load static %} <!-- загружаем папку статик -->
{% block content %}



    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if currentjobs %}
                <h1>Доступные должности</h1>
                всего({{ currentjobs.count }})
            {% else %}
                           <h1>Доступные должности</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if currentjobs %}
            <div class="list-group">
                {% for currentjob in currentjobs %}
                    <a href="{% url 'viewjob' currentjob.id %}"
                       class="list-group-item list-group-item-action">
                        <b>{{ currentjob.job_title }}</b>
                        {{ currentjob.job_category }}
                    </a>
                {% endfor %} <!-- завершаем команду цикла -->
            </div>
        {% else %}
            <div class="text-center">
                <h2>Похоже, у Вас нет должностей!</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'create_jobtitle' %}">Новая должность</a>
            </div>
        {% endif %}
        </div>
    </div>
    <br>
    <br>
<!-- стрелка для прокрутки страницы вверх -->
<div class = "fixed-bottom" style="margin-right: 16px; margin-bottom: 24px;">
    <div class= "d-flex justify-content-end">
        <a href = "#start"> <img src = "{% static 'employees/up-arrow-svgrepo-com.svg' %}" title="вверх" width="50" height="50"> </a>
    </div>
</div>

{% endblock %}