{% extends 'job/base.html' %} <!-- привязка ранее созданного шаблона -->

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
        <h1>Cправочник должностей — тестовое задание на вакансию «инженер-программист»</h1>
            <p>Запиши в него все свои важные дела, чтобы не забыть.
                <u>ToDoлист</u> позволит вам эффективно организовать свое рабочее время.
                В него можно записать все: от <u>списка покупок</u> до <u>важных деловых встреч</u>.
                Создай свой <b><i>ToDoлист</b></i> прямо сейчас, это не займет много времени.
            </p>

    </div>
</div>

{% endblock %}