{% extends 'job/base.html' %} <!-- привязка ранее созданного шаблона -->

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h3>Новый сотрудник</h3>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="employees_Models_LastName">Фамилия</label>
                    <input type="text" name="employees_Models_LastName"
                           class="form-control" id="employees_Models_LastName" required>
                </div>
                <div class="form-group">
                    <label for="employees_Models_FirstName">Имя</label>
                    <input type="text" name="employees_Models_FirstName"
                           class="form-control" id="employees_Models_FirstName" required>
                </div>
                <div class="form-group">
                    <label for="employees_Models_MidleName">Отчество</label>
                    <input type="text" name="employees_Models_MidleName"
                           class="form-control" id="employees_Models_MidleName" required>
                </div>
                <label for="employees_Models_gender">Пол</label>
                <select class="form-control form-control-sm" name="employees_Models_gender" id="employees_Models_gender">
                    <option>муж.</option>
                    <option>жен.</option>
                </select>
                <div class="form-group">
                    <label for="employees_Models_age">Возраст</label>
                    <input type="text" name="employees_Models_age"
                           class="form-control" id="employees_Models_age" required>
                </div>

                {% if currentjobs %}
                    <label for="employees_Models_job">Должность</label>
                    <select class="form-control form-control-sm" name="employees_Models_job" id="employees_Models_job">
                        {% for currentjob in currentjobs %}
                            <option>{{ currentjob.job_title }} {{ currentjob.job_category }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                <br>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>



{% endblock %}